

<div class="banner">
  <div class="container">
    <h1>Cocktail hub</h1>
    <p>Create cocktail recipes and <strong>share them with the world!</strong></p>


  <%= simple_form_for @new_cocktail,  wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>

  <%= f.input :name, placeholder: "Your cocktail name" %>
  <label class="btn btn-primary ml-3">
    Add a picture!
    <span style="display: none;">
  <%= f.input :photo, as: :file,  :input_html => { :class => 'ml-3' }, label: false%>
    </span>
  </label>
  <%= f.button :submit, "Add your new cocktail!" , class: "btn btn-primary ml-3" %>

  <% end %>






  </div>
</div>


<div class="container mt-3">


  <h1>Our list of cocktails created by our friends:</h1>


</div>


<div class="container my-4">


  <% @cocktails.reverse.each do |cocktail| %>

   <div class="card-product mt-3">
  <%= cl_image_tag cocktail.photo.key, width: 200, height: 200, crop: :fill  %>
  <div class="card-product-infos">
    <h2>
      <%= link_to  cocktail.name.capitalize, cocktail_path(cocktail)%></h2>
    <p><strong>Ingredients:</strong> <%=  cocktail.ingredients.empty? ? "Add some!" : cocktail.ingredients.map { |i| i.name }.join(", ")%></p>
    <%= link_to "Delete this recipe", cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"} %>
    </div>

  </div>




  <% end %>



</div>
